.grid{
    max-width: 400px;
    background-color: blue;
    display: grid;
    grid-template-rows: 200px 200px auto;
    margin: 0px auto;
}
.item{
    background-color: aliceblue;
}
@media screen and (min-width: 800px) {
 